body {
  font-family: 'Raleway', sans-serif;
  color: #555;
  background: #333;
  margin: 3em;
}

.portfolio {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.portfolio-title {
  text-align: center;
  color: #00C896;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.portfolio-card {
  box-shadow: 0 0 1em rgba(0,0,0,.25);
  padding: 1em;
  background: white;
}

.portfolio-card-title {
  font-size: 1.5rem;
  color: #000;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  height: 100vh;
}

.board * {
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

.my-category-title {
  background-color: lightblue;
  grid-row-start: 1;
  text-transform: uppercase;
}

.my-category-clue {
  font-size: 2rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.my-pokedex {
  padding: 0.5rem;
}

.a-pokemon {
  margin: 0.3rem;
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12));
}

.a-pokemon * {
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem;
}

.a-pokemon-id {
  background-color: lightblue;
  grid-column: span 2;
  font-size: 1.3rem;
}

.a-pokemon-name {
  grid-column: span 5;
  background-color: lightyellow;
  font-size: 1.3rem;
}

.a-pokemon-type {
  grid-column: span 5;
  font-size: 1.3rem;
}

.a-pokemon-stat {
  background-color: lightpink;
  grid-column: span 3;
}

.a-pokemon-alt-name {
  background-color: lightseagreen;
  grid-column: span 4;
  font-size: 1.3rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  padding: 1rem;
}

.my-library {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.my-book {
  display: grid;
  grid-template-columns: 1rem 7rem;
  grid-template-areas:
        "spine cover"
        "footer footer";
}

.my-book div {
  border: 0.1rem solid black;
}

.my-book-cover {
  grid-area: cover;
  height: 7rem;
  background-color: lightgreen;
  text-align: center;
  padding: 1rem;
}

.my-book-spine {
  grid-area: spine;
  background-color: #4A4238;
  border-top-left-radius: 0.3rem;
}

.my-book-footer {
  grid-area: footer;
  padding: 0.2rem;
  background-color: lightgray;
  border-bottom-left-radius: 0.3rem;
}

.my-book:nth-of-type(even) .my-book-cover {
  background-color: lightblue;
}

.my-book:nth-of-type(even) .my-book-spine {
  background-color: #E1B07E;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.my-show {
  background-color: lightblue;
  margin: 0.3rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 2rem auto;
  grid-gap: 0.2rem;
}

.my-show-title {
  grid-column: span 4;
}

.my-show-summary {
  grid-column: span 4;
  font-size: 1rem;
  overflow-y: auto;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.my-api {
  display: grid;
  grid-template-rows: 3rem 1rem 4rem 3rem;
  grid-template-columns: repeat(3, calc(100% / 3));
  background-color: lightblue;
  margin: 1rem;
  border-radius: 1rem;
}

.my-api-name {
  grid-column: span 3;
  text-align: center;
  padding: 0.3rem;
  font-size: 1.3rem;
}
.my-api-description {
  grid-column: 1 / span 3;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  grid-row-start: 3;
  overflow-y: auto;
}
.my-api-auth {
  grid-row-start: 4;
  grid-column: 1 / span 1;
  text-align: center;
  font-size: 1.3rem;
}
.my-api-https {
  grid-row-start: 4;
  grid-column: 3 / span 1;
  text-align: center;
  font-size: 1.3rem;
}
