<p>challenges1 works!</p>
<html>
<head>
  <link href="challenges1.component.css" rel="stylesheet">
</head>
<body>
<p>Nike shoe</p>
<button>Purchase - $149</button>
<p id="error"></p>

<span id="num1-el"></span>
<span id="num2-el"></span>
<br>
<button (click)="add()">Add</button>
<button (click)="subtract()">Subtract</button>
<button (click)="division()">Divide</button>
<button (click)="multiply()">Multiply</button>
<br>
<span id="sum-el">Sum: </span>

<script src="challenges1.component.ts"></script>
</body>
</html>
