<html>
<head>
  <link href="challenges3.component.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
</head>
<body>
<h2>Saving to localStorage</h2>
<p>challenges3 works!</p>
<button id="jane-btn">LOG JANE'S SCORE!</button>
<h1>The Brooklyn Agency</h1>
<div id="container">
  <img class="team-img" src="assets/train.jpg">
  <img class="team-img" src="assets/blackjack.jpg">
  <img class="team-img" src="assets/chameleon.png">
</div>
<script src="index.js"></script>
</body>
</html>
